.login-container {
	width: 500px;
	text-align: center;
	border: 10px solid mediumseagreen;
	border-radius: 25px;
	background-image: url("img/login-background.png");
	background-position: center;
}

.login-messages {
	width: 50%;
	margin: auto;
}

.text-input {
	width: 50%;
}

#addNewPhotoButton {
	margin-left: 10%;
}

#addNewPhotoForm {
	position: absolute;
	margin-left: 7%;
	margin-right: 75%;
	margin-top: 15px;
	border: 10px solid mediumseagreen;
	border-radius: 10px;
	padding: 5px;
	background-image: url("img/login-background.png");
	background-position: center;
}

.postContainer {
	margin-bottom: 25px;
}

.imageContainer {
	border: 5px solid mediumseagreen;
	border-radius: 10px;
	margin: auto;
	width: 510px;
	min-height: 510px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.imageContainerMine {
	border: 5px solid red;
}

.imageContainer:hover .xmark {
	background: transparent;
	display: block;
	position:absolute;
	top:5px;
	right:5px;
	width: 30px;
	height: auto;
}

.xmark {
	display: none;
}

.imageElement {
	max-width: 500px;
	max-height: 500px;
}

.socialContainer {
	margin: auto;
	width: 510px;
	height: auto;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}

.cameraLike {
	margin-left: 15px;
	width:50px;
	height: auto;
}

.cameraDislike {
	margin-left: 15px;
	width:50px;
	height: auto;
}

.image-hover-highlight {
	-webkit-transition: all 0.50s;
	transition: all 0.50s;
}
.image-hover-highlight:hover {
	border: 3px solid gray;
	filter: brightness(200%);
	-webkit-filter: brightness(200%);
	-moz-filter: brightness(200%);
	-o-filter: brightness(200%);
	-ms-filter: brightness(200%);
	-webkit-transition: all 0.50s;
	transition: all 0.50s;
}

.numberOfLikes {
	margin-left: 5px;
}

.ownerAndDatetime {
	text-align-last: right;
	margin-left: auto;
	margin-right: 15px;
}

.photoOwner {
	color: mediumseagreen;
	font-weight: bold;
	font-size: medium;
}

.photoDatetime {
	font-size: x-small;
}

.commentsContainer {
	position: absolute;
	margin-left: 70%;
	width: 300px;
	height: auto;
}

.newComment {
	border: 5px solid mediumseagreen;
	margin-top: 5px;
	height: 36px;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.commentsTab {
	overflow: scroll;
	border: 10px solid mediumseagreen;
	border-radius: 10px;
	max-height: 300px;
}

.photoComment {
	margin: 2px;
	border: 2px solid mediumseagreen;
	border-radius: 10px;
}

.photoCommentHeader {
	display: flex;
}

.commentOwner {
	margin-left: 5px;
	color: mediumseagreen;
	font-weight: bold;
}

.commentDatetime {
	font-size: x-small;
	margin-right: 5px;
	margin-left: auto;
	align-self: center;
}

.commentText {
	padding: 5px;
}

.commentButton {
	margin-left: 3px;
	margin-bottom: 2px;
}

.newCommentText {
	width: 75%;
}

.inputImage {
	margin-top: 5px;
	width: 190px;
}
