.login-container {
	width: 500px;
	text-align: center;
	border: 10px solid mediumseagreen;
	border-radius: 25px;
	background-image: url("img/login-background.png");
	background-position: center;
}

.login-messages {
	width: 50%;
	margin: auto;
}

.text-input {
	width: 50%;
}

#addNewPhotoButton {
	margin-left: 10%;
}

#addNewPhotoForm {
	position: absolute;
	margin-left: 10%;
	margin-right: 75%;
	margin-top: 15px;
	border: 10px solid mediumseagreen;
	border-radius: 10px;
	padding: 5px;
	background-image: url("img/login-background.png");
	background-position: center;
}

.postContainer {
	margin-bottom: 25px;
}

.imageContainer {
	border: 5px solid mediumseagreen;
	border-radius: 10px;
	margin: auto;
	width: 510px;
	min-height: 510px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.imageContainer:hover .xmark {
	background: transparent;
	display: block;
	position:absolute;
	top:5px;
	right:5px;
	width: 30px;
	height: auto;
}

.xmark {
	display: none;
}

.imageElement {
	max-width: 500px;
	max-height: 500px;
}

.socialContainer {
	margin: auto;
	width: 510px;
	height: auto;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}

.cameraLike {
	margin-left: 15px;
	width:50px;
	height: auto;
}

.cameraDislike {
	margin-left: 15px;
	width:50px;
	height: auto;
}

.image-hover-highlight {
	-webkit-transition: all 0.50s;
	transition: all 0.50s;
}
.image-hover-highlight:hover {
	border: 1px solid gray;
	filter: brightness(130%);
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
	-o-filter: brightness(130%);
	-ms-filter: brightness(130%);
	-webkit-transition: all 0.50s;
	transition: all 0.50s;
}

.numberOfLikes {
	margin-left: 5px;
}